.button {
    width: 180px;
    height: 46px;
    background: #204080;
    border-radius: 12px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    margin-left: auto;
    text-align: center;
    justify-content: end;
    margin-right: 5%;
    /* margin-left: 20px; */
    min-width: 180px;
    /* margin-top: 20px; */
  }
  
  .button a {
    color: white;
    text-decoration: none;
  }
  