@import "../scss/variable.scss";
@import "../scss/inheritance.scss";

.header {
  @extend .flexRow;
}

.content a {
  @extend .flexRowAlignCenter;
  text-decoration: none;
}

.content > a > p {
  margin-left: 10px;
  font-weight: 700;
  font-size: $font-size-bigger;
  color: $text-light;
}

.header > div:first-child > div > a > img {
  height: 60px !important;
  margin-right: 40px;
  margin-left: 25px;
}
