.input {
  border: 1.5px solid #484848;
  border-radius: 12px;
  height: 46px;
  width: 590px;
  padding-left: 20px;
  font-size: 18px;
}

.inputWrapper {
  margin-left: 220px;
}

.input:focus {
  background: rgba(100, 100, 100, 0.08);
  border: 2px solid rgba(72, 72, 72, 0.6);
}

.inputWrapper > div > label {
  display: block;
  font-weight: 700;
  margin-bottom: 6px;
}

.inputWrapper > div > p {
  color: red;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 0, 0, 0.5);
  margin-top: 2px;
}

.inputWrapper > div {
  margin-top: 30px;
}

.inputWrapper > button {
  display: block;
  margin-top: 30px;
}

.modal {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 300px;
}

.button {
  border-radius: 12px;
  border: none;
  width: 130px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 10px;
  cursor: pointer;
}

.activeButton {
  background: #4f75c2;
}

.disabled {
  background-color: rgb(193, 193, 193);
  cursor: progress;
}
