@import "../scss/variable.scss";
@import "../scss/inheritance.scss";

.locationWrapper {
    @extend .flexRowAlignCenter;
    width: 1175px;
    justify-content: space-between;
    margin: 50px auto;
}

.locationOuterWrapper {
    width: 100%;
    background-color: rgba(41, 78, 152, 0.72);;
}

.image {
    width: 210px;
    height: 180px;
}

.map {
    width: 468px;
    height: 222px;
}

.content {
    width: 420px;
    font-size: $font-size-big;
    color: $contrast-color;
}

.email {
    margin-top: 20px;
    font-size: $font-size-big;
}