@import "../scss/variable.scss";
@import "../scss/inheritance.scss";

.shortListItemSingle {
    @extend .flexRowAlignCenter;
    margin: 25px 0 0 30px;
    padding: 20px ;
    border-radius: 10px;
}

.shortListItemSingle:hover {
    background: rgba(79, 117, 194, 0.21);
}

.shortListItemSingle div:last-child {
    margin-left: auto;
}

.shortListItemSingle div:nth-child(2) {
    margin-left: 20px;
}

.shortListItemSingle:last-child {
    margin: 25px 0 25px 30px;
}


.shortListItemCity {
    font-size: $font-size-regular;
    color: $text-dark;
    margin: 0
}

.shortListItemName, .shortListItemDate {
    text-align: right;
    margin: 0
}

.shortListItemAddress, .shortListItemDate {
    font-size: $font-size-lower;
    color: $secondary-color;
    margin: 4px 0 0 0;
}