@import "../scss/inheritance.scss";

.shortListMainWrapper {
    @extend .flexColumn;
    width: 870px;
    margin-top: 16px;
    margin-left: 180px;
  }

  .shortListBorder {
    border-bottom: 1px solid #7E7E7E;
    margin-top: 13px;
    width: 95%;
    margin-left: auto;
  }

  @media screen and (max-width: 1124px) {
    .shortListMainWrapper {
      width: 60%;
    }
  }
    

  