@import "../scss/variable.scss";

.searchbarInput {
  background: $contrast-color;
  border: 2px solid $primary-color;
  border-radius: 8px;
  height: 48px;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  padding: 0 0 0 50px;
  font-size: $font-size-regular;
  width: 70%;
  max-width: 646px;
}

.searchbarTitle {
  font-size: $font-size-biggest;
  margin-bottom: 8px;
  margin-left: 30px;
}

.searchbarIcon {
  position: relative;
  left: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.searchbarMainWrapper {
  width: 80%;
  max-width: 840px;
  margin: auto;
  padding-left: 150px;
}
