.button {
  width: 140px;
  height: 46px;
  background: #204080;
  border-radius: 12px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 20x;
}

.button a {
  color: white;
  text-decoration: none;
}
