.searchbarInput {
    background: #ffffff;
    border: 2px solid #204080;
    border-radius: 8px;
    height: 48px;
    width: 646px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    padding: 0 0 0 30px ;
    font-size: 16px;
    line-height: 16px;
  }

.searchbarMainWrapper {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin-left: 25px;
  align-items: center;
  margin-top: 25px;
}

.searchbarMainWrapper div img {
   height: 60px !important;
   margin-right: 35px;
}