@import "../scss/variable.scss";
@import "../scss/inheritance.scss";

.searchbarInput {
    background: $contrast-color;
    border: 2px solid $primary-color;
    border-radius: 8px;
    height: 48px;
    width: 646px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    padding: 0 0 0 30px ;
    font-size: $font-size-regular;
  }

.searchbarMainWrapper {
  @extend .flexRowAlignCenter;
  height: 60px;
  margin-left: 25px;
}

.searchbarMainWrapper div img {
   height: 60px !important;
   margin-right: 35px;
}