@import "../scss/variable.scss";
@import "../scss/inheritance.scss";

.shortListMainWrapper {
  @extend .flexColumn;
  border: 1px solid $text-light;
  border-radius: 24px;
  width: 700px;
  margin: auto;
  margin-top: 16px;
}
