@import "../scss/variable.scss";
@import "../scss/inheritance.scss";

.shortListItemSingle {
    @extend .flexRowAlignCenter;
    margin: 25px 0 0 30px;
}

.shortListItemSingle:last-child {
    margin: 25px 0 25px 30px;
}

.shortListItemSingle div:last-child {
    margin-left: 15px;
}

.shortListItemName {
    font-size: $font-size-regular;
    color: $text-dark;
    margin: 0
}

.shortListItemAddress {
    font-size: $font-size-lower;
    color: $secondary-color;
    margin: 4px 0 0 0;
}
