// font size
$font-size-lower: 14px;
$font-size-regular: 16px;
$font-size-big: 18px;
$font-size-bigger: 24px;
$font-size-biggest: 32px;

// font weight
$font-weight-bold: 700;
$font-weight-regular: 400;

// colors
$primary-color: #204080;
$contrast-color: #fff;
$secondary-color: #72777a;
$text-dark: #090a0a;
$text-light: #484848;
